:root{
    --black-color:#000000;
    --text-white:#FFFFFF;
    --text-red:#EA0F1E;
}
*{
   padding: 0;
   margin: 0;
}
body{
    
    background-color:var(--black-color) ;
    
    color:#FFFFFF ;
    font-family: 'Lato', sans-serif;
    height:fit-content;
}

.div1{
    display: flex;
    flex-direction: column;
    padding-left: 17%;
    padding-top: 9.5%;
   
    font-weight:bold;
    font-size: 130px; 
   cursor:pointer;
}
a{
    text-decoration: none;
}
#text-1{
    color:var(--text-white);
    width: fit-content;
   
    
}
#text-2{
    color:var(--text-red);
    width: fit-content;
}
#text-3{
    color:var(--text-red);
    width: fit-content;
}

.navbar{

    
   
    top:0;
    right:0;
position: fixed;
align-items: end;
padding-right: 13%;
margin-top: 7%;

}
.intro-1{
    display: flex;
    justify-content: center; 
    
    margin-top: 22%;
    font-size: 70px;
    font-weight: bold;
    padding-left: 20%;
    padding-right: 20%;
    
}
.bottom-div{
 
    padding: 24%;
    
    
}
h1{
   padding-bottom: 20px; 
   font-size: 50px;
}
p{
   line-height: 2;
   font-size: 22px;
}
#name{
    font-size: large;
    text-decoration: none;
    
}
.head{
    display: flex;
}
#img-1{
    margin-left: 40%;
    margin-top: 20%;
   height:550px;
}
#scrollBar{
    position: fixed; 
    top:0; 
    background-color: cadetblue;
     height: 5px; 
     left:0; 
      width: 0;
} 